// Color scheme.
$cbo-tan: #ADA48E;
$cbo-foliage-green: #354538;
$cbo-dark-green: #12291A;
$cbo-dark-red: #4F0100;
$cbo-hunting-orange: #FF2400;

// Variables.
$secondary-background-color: $cbo-foliage-green;
$main-background-color: $cbo-tan;
$text-color: black;
$sm-icon-width: 50px;
$page-width: 1024px;

// ================
// = Body Styling =
// ================

body {
	color: $text-color;
	background-color: $secondary-background-color;
}

.container {
	position: relative;
	width: $page-width;
	padding: 50px;
	top: 50px;
	background-color: $main-background-color;
	
	// Rounded corners.
	$corner-radius: 3px;
	-webkit-border-radius: $corner-radius;
	-moz-border-radius: $corner-radius;
	border-radius: $corner-radius;
	
}

.user_attention_note {
	font-style: italic;
}

a { 
	color: $cbo-dark-red;
}

// Grouping container.
.social_media_buttons {
	
}

footer {
		padding-bottom: 50px;
		width: $page-width;
		background-color: $cbo-dark-green;
}

.team_member_photo {
	$photo-size: 100px;
	width: $photo-size;
	height: $photo-size;
}


// ==========
// = Footer =
// ==========

#copyright {
	text-align: center;
	font-size: 11px;
	color: gray;
}

// Individual button.
.social_media_button {
	// Dimensions.
	width: $sm-icon-width;
	height: $sm-icon-width;
	
	// Mouse overs.
	&:hover {
		// Add some time of jQuery or nice effect here.
	}
	
}

// ============================
// = Validation Error Styling =
// ============================

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation {
	h2 {
		text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px;
	  margin-bottom: 0px;
	  background-color: #c00;
	  color: #fff;
	}
	
	ul {
		li {
			font-size: 12px;
			list-style: square;
		}
	}
}