// Variables.
$background_color: white; //#bf8b30; -- brownish color.
$text_color: black;
$sm_icon_width: 50px;

// ================
// = Body Styling =
// ================

body {
	color: $text_color;
	background-color: $background_color;
}

.user_attention_note {
	font-style: italic;
}

// Grouping container.
.social_media_buttons {
	
}

// Pagination.
div.pagination {
	margin: 15px 0;
}

// ==========
// = Footer =
// ==========

#copyright {
	text-align: center;
	font-size: 11px;
	color: gray;
}

// Individual button.
.social_media_button {
	// Dimensions.
	width: $sm_icon_width;
	height: $sm_icon_width;
	
	// Mouse overs.
	&:hover {
		// Add some time of jQuery or nice effect here.
	}
	
}

// ============================
// = Validation Error Styling =
// ============================

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation {
	h2 {
		text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px;
	  margin-bottom: 0px;
	  background-color: #c00;
	  color: #fff;
	}
	
	ul {
		li {
			font-size: 12px;
			list-style: square;
		}
	}
}