// Variables.
$main_body_background-color: #ADA48E;
$background_color: #354538;
$text_color: #000;
$sm_icon_width: 50px;

// ================
// = Body Styling =
// ================

body {
	color: $text_color;
	background-color: $background_color;
}

.container {
	background-color: $main_body_background-color;
	position: relative;
  width: 1024px;
  top: 50px;
	padding: 50px;
}

a {
	color: #4F0100
}

.user_attention_note {
	font-style: italic;
}

// Grouping container.
.social_media_buttons {
	
}

footer {
		padding-bottom: 50px;
		background-color: #12291A;
}

.team_member_photo {
	$photo-size: 100px;
	width: $photo-size;
	height: $photo-size;
}


// ==========
// = Footer =
// ==========

#copyright {
	text-align: center;
	font-size: 11px;
	color: gray;
}

// Individual button.
.social_media_button {
	// Dimensions.
	width: $sm_icon_width;
	height: $sm_icon_width;
	
	// Mouse overs.
	&:hover {
		// Add some time of jQuery or nice effect here.
	}
	
}

// ============================
// = Validation Error Styling =
// ============================

$error-color: red;
.field_with_errors {
  padding: 2px;
  background-color: $error-color;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation {
	h2 {
		text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px;
	  margin-bottom: 0px;
	  background-color: #c00;
	  color: #fff;
	}
	
	ul {
		li {
			font-size: 12px;
			list-style: square;
		}
	}
}