body {
  color: black;
  background-color: #354538; }

.container {
  position: relative;
  width: 1024px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 10px #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1f1f1f;
  box-shadow: 5px 5px 10px #1f1f1f;
  background-color: #ada48e;
  border: 2px solid black; }

.user_attention_note {
  font-style: italic; }

a {
  color: #4f0100; }

footer {
  padding-bottom: 50px;
  width: 1024px;
  background-color: #12291a; }

.team_member_photo {
  width: 100px;
  height: 100px; }

#copyright {
  text-align: center;
  font-size: 11px;
  color: gray; }

.social_media_button {
  width: 50px;
  height: 50px; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }
#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

header {
  border-bottom: 2px solid white; }

nav li {
  padding: 0;
  display: inline; }
  nav li a {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    float: left;
    padding: 20px;
    background-color: #4f0100;
    color: #fff; }
  nav li a:hover {
    background-color: #ff2400; }

.login_form {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  left: 212px;
  width: 500px;
  padding: 25px 0 25px 50px;
  margin: 50px 0;
  background-color: #cccccc;
  -moz-box-shadow: 5px 5px 10px #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1f1f1f;
  box-shadow: 5px 5px 10px #1f1f1f; }

input[type=text], input[type=password] {
  padding: 9px;
  outline: 0;
  width: 300px;
  font: normal 14px Verdana, Tahoma, sans-serif;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #0C5AA6;
    -moz-box-shadow: 0px 0px 8px #0c5aa6;
    -webkit-box-shadow: 0px 0px 8px #0c5aa6;
    box-shadow: 0px 0px 8px #0c5aa6; }
