#videos_controller #videos {
  margin-left: auto;
  margin-right: auto; }
#videos_controller li {
  list-style: none; }
#videos_controller .video {
  margin: 5px 15px;
  float: left; }
  #videos_controller .video .video_caption {
    text-align: center; }
  #videos_controller .video .video_thumbnail {
    width: 250px;
    height: 200px;
    border: 2px solid black; }
#videos_controller .pagination {
  clear: both; }
