- if @video.errors.any?
	#error_explanation
		%h2 #{pluralize(@video.errors.count, 'Error')} prevented this video from being created.
		%p There were problems with the following fields:
		%ul
			- @video.errors.full_messages.each do |msg|
				%li= msg
