%li.video
	= link_to image_tag(video.thumbnail_url, :class => "video_thumbnail", :alt => video.title), video
	%br
	%p.video_caption= link_to(video.title, video)
	%br
	= render :partial => 'shared/admin_edit_links', :locals => { :object => video } if logged_in?
