%h2.video_title= @video.title
= link_to "Back to Videos", videos_path
.video_description
  :markdown
    #{@video.description}
%iframe{:src => @video.source_url, :width => "400", :height => "400"}
.comments
  %h3 Comments
