-# Facebook button.
.social_media_button#facebook_button
	%a{:href => "http://www.facebook.com/teambackwoodstv"} 
		= facebook_logo
	%br

-# Twitter button.
.social_media_button#twitter_button
	%a{:href => "http://twitter.com/cityboyzstow/"}
		= twitter_logo
	%br