%h2 Latest News
.admin_links= link_to "Post New Status", new_social_message_path if logged_in?
- @latest_messages.each do |msg|
	.social_message
		%p 
			%span.sm_date #{format_date(msg.date_posted)}
			\- 
			%span.sm_body #{msg.body}